SECRET_JWT=

HOST_DATABASE=

PORT_DATABASE=

DATABASE=

USER_DATABASE=

PASSWORD_DATABASE=

SERVER_PORT=

URL_FRONT = 

/** BucketBlaze **/

BUCKET_KEY_ID = 
BUCKET_APP_KEY = 
BUCKET_APP_NAME = 

ENDPOINT_S3 = 
BACKBLAZE_BUCKET = 

/** Images Destiny **/

UPLOAD_PHOTO_URL1 = 
UPLOAD_PHOTO_URL2 = 

AWS_REGION = 

/** Cloudinary **/

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

/** mailSender **/

EMAIL_USER = 
EMAIL_PASS = 
EMAIL_FROM = 
EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_NAME = 

EMAIL_PASS_2 = 

OAUTH_CLIENTID = 
OAUTH_CLIENT_SECRET = 
OAUTH_REFRESH_TOKEN = 
