<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to My App Social</title>

    <style>
        h1 {
            color: blue;
        }
    </style>
</head>

<body style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; color: #333;">

    <div
        style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #007BFF;">Welcome - My App Social</h2>
        <p>Hello, {{username}},</p>
        <p>Thank you for signing up on our platform. We're excited to have you with us!</p>
        <p>Start exploring and sharing your experiences with other community members.</p>
        <p>Feel free to contact us if you have any questions or suggestions.</p>
        <p style="text-align: center;">
            <a href={{link}}
                style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">
                Get Started Now!
            </a>
        </p>

        <p>My App Social.</p>
    </div>
</body>

</html>