<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
        h1 {
            color: blue;
        }
    </style>
</head>

<body style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; color: #333;">

    <div
        style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #007BFF;">Password Reset</h2>
        <p>Hello, {{username}},</p>
        <p>We received a request to reset your password. To reset your password, click the link below:</p>
        <p style="text-align: center;">
            <a href={{link}}
                style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;">
                Reset Password
            </a>
        </p>
        <p>This link is valid for 15 minutes. If you didn't request a password reset, please ignore this email.</p>
        <p>Thank you,</p>
        <p>My App Social.</p>
    </div>
</body>

</html>